@import './variables';
@import './mixin';
/*公用基本样式*/
.z-flex{display:flex;justify-content: flex-start;align-items: center;}

.red-color{color:$red;}
.blue-color{color:$blue;}
.green-color{color:$green;}
.orange-color{color:$orange;}
.gray-color{color:$gray;}

.red-bg{background:$red;}
.blue-bg{background:$blue;}
.green-bg{background:$green;}
.orange-bg{background:$orange;}
.gray-bg{background:$gray;}

.separate-line{box-sizing: border-box;border-top:1px solid rgba(7,17,27,0.1);border-bottom:1px solid rgba(7,17,27,0.1);background: #f3f5f7;width:100%;height:16px;}
.frame-wrap{
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  background: var(--bg-color);
  color:var(--font-color);
}
/*--v-fb 样式--*/
.tap-active{
  background:var(--bg-color-sec);
}

/*--水纹样式--*/
.my-ripple {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  border-radius: 50%;
  background-color: var(--bg-color-sec);
  opacity: 0;
  transition: transform 0.2s cubic-bezier(0.68, 0.01, 0.62, 0.6), opacity 0.08s linear;
  will-change: transform, opacity;
  pointer-events: none;
}
