@import './variables';
@import './mixin';
/*公用基本样式*/
.z-flex{display:flex;justify-content: flex-start;align-items: center;}

.red-color{color:$red;}
.blue-color{color:$blue;}
.green-color{color:$green;}
.orange-color{color:$orange;}
.gray-color{color:$gray;}

.red-bg{background:$red;}
.blue-bg{background:$blue;}
.green-bg{background:$green;}
.orange-bg{background:$orange;}
.gray-bg{background:$gray;}

.separate-line{box-sizing: border-box;border-top:1px solid rgba(7,17,27,0.1);border-bottom:1px solid rgba(7,17,27,0.1);background: #f3f5f7;width:100%;height:16px;}
.frame-wrap{
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  @include bg_color($bg-color-theme);
  @include font_color($font-color-theme);
}
.tap-active{@include bg_sec_color($bg-color-theme-sec);}