
@import "./variables";/*引入配置*/
@mixin font_size($size){/*通过该函数设置字体大小，后期方便统一管理；*/
  font-size:$size;
}
@mixin font_color($color){/*通过该函数设置字体颜色，后期方便统一管理；*/
	color:$color;
  [data-theme="theme1"] & {
    color:$font-color-theme1;
  }
}
@mixin font_active_color($color){/*通过该函数设置字体颜色，后期方便统一管理；*/
	color:$color;
  [data-theme="theme1"] & {
    color:$font-color-theme-active1;
  }
}
@mixin bg_color($color){/*通过该函数设置主题颜色，后期方便统一管理；*/
  background-color:$color;
  [data-theme="theme1"] & {
    background-color:$bg-color-theme1;
  }
}

@mixin border_color($color){
  border-color:$color;
  [data-theme="theme1"] & {
    border-color:$border-color-theme1;
  }
}
@mixin border_active_color($color){
  border-color:$color;
  [data-theme="theme1"] & {
    border-color:$font-color-theme-active1;
  }
}




