
@import "./variables";/*引入配置*/

/*字体大小*/
@mixin font_size($size){
  font-size:$size;
}
@mixin font_color($color){
	color:$color;
  [data-theme="theme1"] & {
    color:$font-color-theme1;
  }
}
@mixin font_sec_color($color){
	color:$color;
  [data-theme="theme1"] & {
    color:$font-color-theme-sec1;
  }
}
@mixin font_third_color($color){
	color:$color;
  [data-theme="theme1"] & {
    color:$font-color-theme-third1;
  }
}
@mixin font_active_color($color){
	color:$color;
  [data-theme="theme1"] & {
    color:$font-color-theme-active1;
  }
}
@mixin bg_color($color){
  background-color:$color;
  [data-theme="theme1"] & {
    background-color:$bg-color-theme1;
  }
}
@mixin bg_sec_color($color){
  background-color:$color;
  [data-theme="theme1"] & {
    background-color:$bg-color-theme-sec1;
  }
}
@mixin bg_third_color($color){
  background-color:$color;
  [data-theme="theme1"] & {
    background-color:$bg-color-theme-third1;
  }
}
@mixin bg_foot_color($color){
  background-color:$color;
  [data-theme="theme1"] & {
    background-color:$font-color-theme1;
  }
}

@mixin bg_foot_active_color($color){
  background-color:$color;
  [data-theme="theme1"] & {
    background-color:$font-color-theme-active1;
  }
}
@mixin border_color($color){
  border-color:$color;
  [data-theme="theme1"] & {
    border-color:$border-color-theme1;
  }
}
@mixin border_sec_color($color){
  border-color:$color;
  [data-theme="theme1"] & {
    border-color:$font-color-theme-sec1;
  }
}
@mixin border_active_color($color){
  border-color:$color;
  [data-theme="theme1"] & {
    border-color:$font-color-theme-active1;
  }
}




