// base color
$blue:#409EFF;
$light-blue:#a0cfff;
$red:#F56C6C;
$light-red: #fde2e2;
$green: #67C23A;
$light-green: #e1f3d8;
$orange: #E6A23C;
$light-orange: #fbecd8;
$gray: #909399;
$light-gray: #e9e9eb;

$radius:4px;
$light-radius:2px;

//颜色定义规范
$bg-color-theme: #212121;//背景主题颜色
$bg-color-theme-sec: #333;//背景次要主题颜色
$border-color-theme: #343434;//边框主题颜色
$bg-color-theme1: #fff;//背景主题颜色默认1
$bg-color-theme-sec1: #f2f2f2;//背景次要主题颜色1
$border-color-theme1: #eee;//边框主题颜色1

 
$font-color-theme : #999;//字体主题颜色默认
$font-color-theme-sec : #fff;//字体次要主题颜色
$font-color-theme-active : #fdcd08;//字体高亮主题颜色
$font-color-theme1 : #666;//字体主题颜色1
$font-color-theme-sec1 : #333;//字体次要主题颜色
$font-color-theme-active1 : #67C23A;//字体高亮主题颜色
 
 
//字体定义规范
$font_mini:12px;
$font_small:14px;
$font_medium:16px;
$font_large:18px;
$font_huge:20px;
$font_vast:24px;

//padding-margin 宽度定义规范
$xs:10px;
$sm:16px;
$md:20px;
$lg:24px;
$xl:30px;