
/*主题颜色改版--之前的 @mixin 管理起来比较麻烦，而且不方便在html模板里使用*/

:root{
    /*主题色*/
    --bg-color: #212121;//背景主题颜色
    --bg-color-sec: #333;//背景次要主题颜色
    --bg-color-third: rgba(255,255,255,0.1);//背景次次要主题颜色
    --border-color: #343434;//边框主题颜色
    --font-color : #999;//字体主题颜色默认
    --font-color-sec : #fff;//字体次要主题颜色
    --font-color-third : rgba(255, 255, 255, 0.7);//字体次要主题颜色
    --font-color-active : #fdcd08;//字体高亮主题颜色
}

// base color
$blue:#409EFF;
$light-blue:#a0cfff;
$red:#F56C6C;
$light-red: #fde2e2;
$green: #67C23A;
$light-green: #e1f3d8;
$orange: #E6A23C;
$light-orange: #fbecd8;
$gray: #909399;
$light-gray: #e9e9eb;
$golden:#fdcd08;

$radius:4px;
$light-radius:2px;
 
//字体定义规范
$font_mini:12px;
$font_small:14px;
$font_medium:16px;
$font_large:18px;
$font_huge:20px;
$font_vast:24px;

//padding-margin 宽度定义规范
$xxs:5px;
$xs:10px;
$sm:16px;
$md:20px;
$lg:24px;
$xl:30px;
$xxl:46px;