// base color
$blue:#409EFF;
$light-blue:#a0cfff;
$red:#F56C6C;
$light-red: #fde2e2;
$green: #67C23A;
$light-green: #e1f3d8;
$orange: #E6A23C;
$light-orange: #fbecd8;
$gray: #909399;
$light-gray: #e9e9eb;

$radius:4px;
$light-radius:2px;

//颜色定义规范
$background-color-theme: #fff;//背景主题颜色默认
$background-color-themesec: #333;//背景次要主题颜色
$background-color-theme1: #212121;//背景主题颜色1
$background-color-themesec: #f2f2f2;//背景次要主题颜色1
 
$font-color-theme : #3f8e4d;//字体主题颜色默认
$font-color-theme1 : #edc148;//字体主题颜色1
$font-color-themesec : #edc148;//字体次要主题颜色
 
 
//字体定义规范
$font_little:12px;
$font_medium_s:14px;
$font_medium:16px;
$font_large_s:18px;
$font_large:20px;
