@font-face {
  font-family: "iconfont"; /* Project id 1595810 */
  src: url('//at.alicdn.com/t/font_1595810_mosy19vmyxk.woff2?t=1626424181738') format('woff2'),
       url('//at.alicdn.com/t/font_1595810_mosy19vmyxk.woff?t=1626424181738') format('woff'),
       url('//at.alicdn.com/t/font_1595810_mosy19vmyxk.ttf?t=1626424181738') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-jiangbei:before {
  content: "\e6ab";
}

.i-xingzhuang:before {
  content: "\e84b";
}

.i-duihao:before {
  content: "\e680";
}

.i-close:before {
  content: "\e63a";
}

.i-user:before {
  content: "\e702";
}

.i-shanchu:before {
  content: "\e6c5";
}

.i-suiji:before {
  content: "\e61e";
}

.i-pause:before {
  content: "\e768";
}

.i-down:before {
  content: "\e600";
}

.i-up:before {
  content: "\e899";
}

.i-xin1:before {
  content: "\e60b";
}

.i-right:before {
  content: "\e60c";
}

.i-bofang:before {
  content: "\e612";
}

.i-shangyiqu:before {
  content: "\e64c";
}

.i-xiayiqu:before {
  content: "\e6a7";
}

.i-left:before {
  content: "\e64b";
}

.i-xin2:before {
  content: "\e601";
}

.i-gedan:before {
  content: "\e636";
}

.i-liebiaoxunhuan:before {
  content: "\e630";
}

.i-danquxunhuan:before {
  content: "\e632";
}

.i-mouse:before {
  content: "\e6a0";
}
